<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/">LH</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarColor02"
      aria-controls="navbarColor02"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/"
            >Home <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/view-expense">Day Book</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/view-category-list">View Category</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a class="navbar-brand  mr-3"
          >Cash Balance:
          {{ cashInHand | currency: "&#8377;":"symbol":"1.0-0" }}</a
        >
        <button
          class="btn btn-secondary my-2 my-sm-0 mr-1"
          type="button"
          (click)="routeToExpense()"
        >
          Add Item
        </button>
        <button
          class="btn btn-secondary my-2 my-sm-0"
          (click)="settleMonthlyData(content)"
        >
          Settle Up
        </button>
      </form>
    </div>
  </nav>
</header>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Settle Up</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <strong>
          Set Closing Balance for {{ currentMonthString }},
          {{ currentDate.year }} as
          {{ cashInHand | currency: "&#8377;":"symbol":"1.0-0" }} and close
          expense settlement for this month.
        </strong>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Save click')"
    >
      Confirm
    </button>
    <button type="button" class="btn btn-secondary">
      Close
    </button>
  </div>
</ng-template>

<div class="container container-fluid mt-5 mb-5">
  <router-outlet></router-outlet>
</div>

<footer></footer>
